<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Practice 3</title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <h1>Practice 3</h1>
    <script type="text/javascript" src="main.js"></script>
  </body>
</html>
